/* Fijamos unas variables para poder usar mas facilmente los distintos tipos de texto y colores*/

:root{
/* Definimos variables para los colores*/
    --color-primary: #ffffff; /* Color primario blanco*/
    --color-secondary: #9f9f23; /* Color secundario claro*/
    --color-accent: #1e1e07; /* Color oscuro*/

/* Definimos variables para tipografias*/
    --font-family-main: 'jura', sans-serif; /* Familia de fuente principal */
    --font-family-heading: 'Exo', sans-serif; /* Familia de fuente para encabezados */
    --font-size-base: 16px; /* Tamaño base de fuente */

/* Definir variables para el peso de la fuente */
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}

header {
    margin: 0;
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-normal);
    font-style: normal;
    font-optical-sizing: auto;
}

body {
    margin: 0;
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-normal);
    font-style: normal;
    font-optical-sizing: auto;
}

.marginContainer {
    max-width: 90%;
    margin: auto;
    border-radius: 1rem!important;
    background-color: var(--color-secondary);
}

.containerNav {
    display: flex;
    min-height: 80px;
}

.nav {
    display: flex;
    width: 100%;
    margin: 10px 10;
    padding: 0 10px;
    justify-content: space-around;
    background-color: var(--color-primary);
}

.textPosition {
    margin: auto 0;
}

.centerNav {
    display: flex;
}

.rightNav {
    display: flex;
}

.mainLink {
    margin: 0;
}

.firstLink {
    margin: 0 0 20px 10px;
}

.secondLink {
    margin: 0 0 0 10px;
}

.anchorLink {
    color: black;
    text-decoration: none;
    display: flex;
}

.anchorLink:hover {
    color: black;
    text-decoration: none;
}

.createProduct {
    text-align: end;
    margin: 0 10px;
    padding: 60px 0 20px 0;
}

.btnCreate {
    border: 1px solid black!important;
}

.btnCreate:focus {
    box-shadow: none;
}

.noPadding {
    padding: 0!important;
}

.noPadding:focus {
    box-shadow: none;
}

.btnTable {
    text-decoration: none;
    color: black;
}

.btnTable:hover {
    text-decoration: none;
    color: black;
}

.logo {
    height: 140px;
    width: 380px;
    margin-left: -100px;
}